{% extends "layouts/default.twig" %}

{% block content %}
  <div class="uk-container-center">
    <div class="uk-text-center">
      <h1>Login</h1>
      <hr/>
    </div>
    <form action="" method="POST">
    {{ form_widget(formView) }}
    </form>
  </div>
{% endblock %}