<!DOCTYPE html>
<html>
    <head>
        <link href="{{ app.basepath }}/public/css/main.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
       {% block content %}
       {% endblock %}
    </body>
</html>